.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #320B47;
    font-family: Arial, sans-serif;
    margin:0;
}
.page h1{
    color: #03C903;
    text-align: center;
}
h3{
    color: #03C903;
    text-align: center;
}
.page form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.page input {
    width: 50%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0px;
    outline: none;
    transition: 0.2s;
}

.page button {
    width: 10%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px;
    background: #EEF4ED;
    color: #03C903;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
.page select {
    padding: 15px;
    background: #EEF4ED;
    color: #03C903;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
option{
    color: black;
}
.recommendations {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px;

}
.recommendations h3{
    text-align: center;
}
.recommendations p{
    border: 3px solid #ddd;;
    color: #03C903;
    padding: 10px;
    text-indent: 20px;
}